* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------- temporary styles for structural html -----------*/
section {
    border: 1px solid rgb(225,240,240)
}

Body{ 
    font-family:'Catamaran', sans-serif;
    color:#192b37;
}



/*--------------------- image styles----------------*/
.bg-image{
    background-image: url('/images/bmw-1.jpg');
    background-size: cover;
    min-height: 10rem;
}

/* -------- universal styles and utility classes -----*/
.padded    {padding:5%;}
.padded-sm {padding:1rem;}

.bg-dark { 
    background-color:#192b37;
    color: white;
}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}



/* --- Typghrqphy styles -------------------------*/

h2 {
    font-size:2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;;
}

p{  
    font-weight:200;
    line-height:1.5;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}


.tall-50 {min-height: 50vh;}
.tall-60 {min-height: 60vh;}
.tall-70 {min-height: 70vh;}
.tall-80 {min-height: 80vh;}
.tall-90 {min-height: 90vh;}
.tall-100 {min-height: 100vh;}

.featured-text {color:#008ac9;}
.orange-text {color:#FF6B35}
.small-text {font-size: 1.5rem;}
.big-text {font-size:4.5rem; line-height: 1;}

.font-weight-light { font-weight:200;}
.font-weight-normal { font-weight:normal;} 
.font-weight-extra-bold { font-weight:800;}
 

/* -----------header styles ----------------------*/
header {
    background-image: url('/images/bmw-10.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5rem;
    line-height:1;
    color: whitesmoke;
}

header h1 {color:#FF6B35;}


/*----------------background images -------*/
.bg-rijbmw { background-image: url('/images/bmw-2.jpg');}
.bg-rood { background-image: url('/images/bmw-6.jpg');}
.bg-groen { 
    background-image: url('/images/bmw-5.jpg');
    background-position: 50% 42%;
}

/*---------- Icons style ---------------------*/
.fa-solid {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}